@import "tailwindcss";
@import "./theme.css";

:root {
  font-family: var(--font-sans);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  @apply bg-white dark:bg-recap dark:text-white text-recap;
}

* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
}

body {
  min-width: 320px;
  min-height: 100dvh;
  margin: 0;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
